{% extends 'base.html' %}

{% block content %}

    <section class="my-3 text-center">
        <div class="container">
            <h1>Wesley Farias</h1>
            <p class="lead text-muted text-justify">
                Um Piauiense apaixonado por tecnologia e inovação. Sou graduando em Sistemas de Informação,
                atualmente desenvolvedor WEB com foco em backend.
            </p>
            <p class="lead text-muted text-justify">
                Sou uma pessoa que adora trabalhar em equipe e compartilhar conhecimentos e experiências. Entre minhas
                habilidades estão Java, C# e SQL.
            </p>
            <p>
                <a target="_blank" href="https://github.com/Ssousuke" class="btn btn-lg btn-dark my-2">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/wesleymfarias" class="btn btn-lg btn-primary my-2">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://www.hackerrank.com/wesleysousukee" class="btn btn-lg btn-success my-2">
                    <i class="fab fa-hackerrank"></i>
                </a>
                <a target="_blank" href="https://pt.stackoverflow.com/users/225816/wesley-matheus-da-silva-farias"
                   class="btn btn-lg btn-warning my-2">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </p>
        </div>
    </section>
    <div class="container">
        <h3 class="text-danger"><i class="fas fa-chevron-circle-right m-1"></i>Projetos / Experiências</h3>
        <div class="mx-auto my-2">
            {% for job in jobs %}
                <div class="card p-1 m-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ job.job }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Job iniciado em {{ job.initial_date|date:"SHORT_DATE_FORMAT" }};
                            finalizado em {{ job.finish_date|date:"SHORT_DATE_FORMAT" }}; tipo {{ job.type }}</h6>
                        <p class="card-text">{{ job.description }}</p>
                        {% if job.link %}
                            <a href="{{ job.link }}" class="card-link">
                                {{ job.job }} <i class="fas fa-external-link-alt"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
