<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg fixed-top" aria-label="Navbar Blog">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:home' %}"><i class="bi bi-alt"></i>Blog</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarForBlog" aria-controls="navbarForBlog" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarForBlog">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog:categories'%}">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Portfólio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>