{% extends 'base_cms.html'%}
<title>{% block title %} Postagens {% endblock title %}</title>
{% block content %}
<div class="card shadow mb-2">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm card p-3">
                <h6 class="m-0 font-weight-bold text-primary mb-1">Filtrar postagens</h6>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="defaultCheck0">
                        <label class="form-check-label" for="defaultCheck0">
                            Listar todas
                        </label>
                    </div>
                    <div class="form-check">
                        <input name="filter" class="form-check-input" type="radio" value="True" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Listar postagens publicadas
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input name="filter" class="form-check-input" type="radio" value="False" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Listar postagens não publicadas
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </form>
            </div>
            <div class="col-sm card p-3">
                <h6 class="m-0 font-weight-bold text-primary mb-1">Gestão de postagens</h6>
                <a href="{% url 'cms:new_post'%}" class="btn btn-primary m-1">Criar postagens</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr class="text-center">
                    <th>Título</th>
                    <th>Categoria</th>
                    <th>Criação</th>
                    <th>Atualização</th>
                    <th>Autor</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{post.title}}</td>
                    <td>{{post.category}}</td>
                    <td>{{post.created_at|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{{post.updated_at|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{{post.author.username}}</td>
                    {% if post.published %}
                    <td>Publicado</td>
                    {% else %}
                    <td>Não Publicado</td>
                    {% endif %}
                    <td><a href="{% url 'cms:edit_post' post.slug %}" class="btn btn-success"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% empty %}
                <div class="alert alert-warning" role="alert">
                    Para completar a busca você deve selecionar um filtro!
                </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}