{% extends 'base_cms.html' %}
<title>{% block title %}Categorias{% endblock title %}</title>
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="col-sm-3 card p-3">
            <a href="{% url 'cms:create_category' %}" class="btn btn-primary m-1">Criar categoria</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <th>Categoria</th>
                    <th>Criado</th>
                    <th>Atualizado</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.created_at|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{{category.updated_at|date:"SHORT_DATE_FORMAT"}}</td>
                    <td class="text-center">
                        <a adding the target=”_blank” href="{% url 'blog:category' category.slug %}" class="btn btn-primary"><i
                                class="fas fa-eye"></i></a>
                        <a href="{% url 'cms:update_category' category.pk %}" class="btn btn-success"><i
                                class="fas fa-edit"></i></a>
                        <!-- Button trigger modal -->
                        <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop{{ category.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{ category.id }}" data-backdrop="static" data-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel{{ category.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel{{ category.id }}">Aviso de exlusão!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p class="m-0">
                                            Tem certeza que deseja deletar a categoria: {{ category.name }}?
                                        </p>
                                        <p class="m-0">
                                            Essa ação não pode ser desfeita!
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'cms:delete_category' category.pk %}" type="button"
                                           class="btn btn-primary">Confirmar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}