{% extends 'base.html'%}
<title>{% block title %}Home{% endblock title %}</title>
{% block content %}
<section class="hero ">
    <div class="hero-body">
        <div class="columns featured-post is-multiline">
            {% for post in list %}
            <div class="column post is-4">
                <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                        <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">
                        <h3 class="heading post-category">{{ post.updated_at|date:"d, M, Y" }}</h3>
                        <h1 class="title post-title">{{post.name}}</h1>
                        <a href="{{ post.get_absolute_url}}" class="button is-warning">Ver Postagens</a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}