{% extends 'base.html' %}
<title>{% block title %}{{ detail.title }} | {% endblock title %}</title>
{% block content %}
<div class="px-4 text-center border">
    <h1 class="display-4 fw-bold">{{ detail.title }}</h1>
    <p class="text-muted">publicado em; {{ detail.created_at}}, última atualização; {{ detail.updated_at }}, por {{ detail.author }}</p>
    <div class="col-lg-12 mx-auto">
        {{detail.body|safe}}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-warning btn-lg px-4 me-sm-3"><i
                    class="bi bi-bookmark-heart"></i>{{detail.category}}</button>
        </div>
    </div>
</div>
{% endblock content %}