{% extends 'base.html'%}
<title>{% block title %}Home{% endblock title %}</title>
{% block content %}
<div class="hero-body">
    <div class="columns featured-post is-multiline">
        {% for post in list %}
        <div class="column post is-4">
            <article class="columns is-multiline">
                <div class="column is-12 post-img">
                    {% if post.thumb %}
                    <img src="{{ post.thumb.url }}" alt="Featured Image">
                    {% endif %}
                </div>
                <div class="column is-12 featured-content ">
                    <h3 class="heading post-category">{{post.category}}, {{ post.updated_at|date:"d, M, Y"  }}</h3>
                    <h1 class="title post-title">{{post.title}}</h1>
                    <p class="post-excerpt">{{post.body|safe|truncatewords:30}}</p>
                    <br>
                    <a href="{{ post.get_absolute_url}}" class="button is-primary">Continuar Lendo</a>
                    <a href="{% url 'blog:category' post.category.slug %}"
                        class="button is-warning">{{post.category}}</a>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}